<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

</body>
</html>


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Amigos</title>
</head>
<body>
<form>
        <fieldset>
            <legend>Vamos a sacar los amigos de Mikel</legend>
            <label>Busca en la agenda:
                <input type="text" name="agenda" list="agenda" />
                <datalist id="agenda">
                    {% for ami in listado_amistades%}
                       <option value="{{ami.Nombre}}">
                 {% endfor%}
                </datalist>
            </label>
        </fieldset>
    </form>
 </body>
</html>

